* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgb(46, 46, 46);
}

main {
  background-color: white;
  display: grid;
  grid-template-columns: 0.9fr 1.3fr;
  padding: 15px;
  border-radius: 10px;
  width: 700px;
  height: 320px;
}

.container-imagem {
  position: relative;
}
.container-imagem img {
  position: absolute;
  right: 50px;
}

.informacoes {
  margin: 60px 0 0 40px;
}

.pergunta-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pergunta-container .seta {
  width: 14px;
  height: 14px;
  background: url(./imagens/icone-seta-fechada.png) no-repeat;
  background-size: cover;
  transform: rotate(135deg);
  margin: 0 0 10px 10px;
}
.pergunta-container .seta:hover {
  opacity: 0.8;
  cursor: pointer;
}

.pergunta-container .seta-aberta {
  width: 14px;
  height: 14px;
  background: url(./imagens/icone-seta-aberta.png) no-repeat;
  background-size: cover;
  transform: rotate(135deg);
  margin: 0 0 10px 10px;
}
#resposta-1,
#resposta-2 {
  margin: 10px 0 10px 33px;
}

hr {
  margin: 10px 0;
  width: 80%;
  margin: auto;
}
