html {
  font-size: 62.5%;
}
body {
  background: url(imagens/flores-rosas.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 1.6rem;
}
.imagem-1,
.imagem-2,
.imagem-3,
.imagem-4 {
  background-size: cover;
  transition: 0.7s;
}

.imagem-1 {
  background: url(imagens/flores-rosas.jpg);
}

.imagem-2 {
  background: url(imagens/flores-verdes.jpg);
}

.imagem-3 {
  background: url(imagens/montanhas.jpg);
}
.imagem-4 {
  background: url(imagens/lago.jpg);
}
.container {
  background-color: #f1f1f1;
  border-radius: 1rem;
  width: 36rem;
  height: 45rem;
  padding: 3rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  position: absolute;
  top: 9.9rem;
  left: 18rem;
}
.container a {
  font-weight: 700;
  color: #c50000;
  text-decoration: none;
}

.container-seta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.seta-back {
  transform: rotate(180deg);
  margin-left: 6rem;
  opacity: 0.5;
}
.seta-back-1 {
  opacity: 1;
}

.seta-next {
  margin-right: 6rem;
}
.container-seta .seta-back,
.container-seta .seta-next {
  width: 40px;
}

img:hover {
  cursor: pointer;
  opacity: 0.8;
}

img {
  width: 100%;
}
